.wrapper {
    display: flex;
}

.left {
    flex: 6;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
}

.right {
    flex: 4;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}